<div class="servicios-container">

  <div class="card" style="width: 18rem;">
    <img src="https://i.pinimg.com/564x/04/34/97/0434979b5e5ac14af9481f4113fb8dde.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SErvicio Privado</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://i.pinimg.com/564x/3e/be/c2/3ebec294f3974492e946a214153ee3e3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicio de Taxi Compartido</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://i.pinimg.com/564x/8b/e4/9f/8be49f5f7fd3d0835eec20ea2db6097d.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Servicio Reservado </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  

  <div class="seleccionar-servicio">

    <label for="" class="form-label">SERVICIOS QUE PRESTAMOS</label>
    <select multiple class="form-select form-select-lg table-responsive" name="" id="select">
      <option selected>SERVICIOS</option>
      <option value="">Taxi Privado</option>
      <option value="">Compartir Taxi</option>
      <option value="">Reservar</option>
    </select>
  
    <button type="submit" class="boton-select">Enviar Servicio</button>
  </div>
</div>