<!-- card 1 -->

<dir>
    <p>SERVICIO DE TAXI WEB PLATAFORMA ONLINE</p>
</dir>

<div class="conten-cards">
    <div class="cards">
        <div>
            <img src="https://i.pinimg.com/564x/49/7b/56/497b562bf0a5a781e96981c884841340.jpg" alt="">
        </div>

        <div class="tarjeta">
            <div class="contenido">
                <h2>Título de la Tarjeta</h2>
                <p>Contenido de la tarjeta animada. Puedes agregar texto, imágenes o cualquier otro elemento aquí.</p>
            </div>
        </div>
    </div>

    <div class="cards">
        <div>
            <img src="https://i.pinimg.com/564x/db/5a/f2/db5af245fd6bfe244809b201a1677f80.jpg" alt="">
        </div>

        <div class="tarjeta">
            <div class="contenido">
                <h2>Título de la Tarjeta</h2>
                <p>
                    Contenido de la tarjeta animada. Puedes agregar texto, imágenes o cualquier otro elemento aquí.</p>
            </div>
        </div>

    </div>
    <div class="cards">
        <div>
            <img src="https://i.pinimg.com/564x/0f/47/80/0f47803e7d1aa60524e4669dc12bbff1.jpg" alt="">
        </div>

        <div class="tarjeta">
            <div class="contenido">
                <h2>Título de la Tarjeta</h2>
                <p>Contenido de la tarjeta animada. Puedes agregar texto, imágenes o cualquier otro elemento aquí.</p>
            </div>
        </div>


    </div>

</div>