
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<body>

	<div class="page-container">
		
	<!--END OF TERMS OF USE-->	
		<div class="dark-bg">
			<header>
				<div class="container-principal">
					<!-- logo -->
					<nav class="col-md-12 col-xs-12 menu" id="menu-index">
							<!-- logo -->
					<div class="col-md-4 col-xs-12 ">
						<a href="index.htm">
							<img src="https://i.pinimg.com/564x/80/1f/80/801f80d316d9d8819b8079ee759ba239.jpg" alt="logo" class="logo">
						</a>
						
					</div>
						<ul>
							<li>
								<a [routerLink]="['']" >
									<span>INICIO</span>
								</a>
							</li>
							<li>
								<a [routerLink]="['/servicios']"   >
									<span>SERVICIOS</span>
								</a>
							</li>
							<li>
								<a [routerLink]="['ubicaciones']"  >
									<span>UBICACION</span>
								</a>
							</li>
							<li>
								<a [routerLink]="['/registrarse']"  >
									<span>REGISTRASE</span>
								</a>
							</li>
							<li>
								<a [routerLink]="['/contactos']" >
									<span>CONTACTOS</span>
								</a>
							</li>
						</ul>
					</nav>
					
					<!-- menu -->

				</div>
				<div class="espacio-nav">
					<i class="fab fa-twitter" id="icono-redes">twitter</i> <!-- Icono de Twitter -->
					<i class="fab fa-facebook"id="icono-redes">facebook</i> <!-- Icono de Facebook -->
					<i class="fab fa-instagram"id="icono-redes">instagram</i> <!-- Icono de Instagram -->
					<i class="fab fa-google"id="icono-redes">google</i> <!-- Icono de YouTube -->
					<i class="fab fa-google-maps"id="icono-redes"></i> <!-- Icono de LinkedIn -->
					
				</div>
			</header>
			

			
		</div>


	</div>
    

  </body>
 